/* 全体のリセットと背景設定 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #46060e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 背景画像のスタイル */
.back-image {
    position: fixed; /* 画面に固定 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* 縦横比を維持*/
    z-index: -1; /* 最背面に移動 */ 
    pointer-events: none; /* 画像をクリックできないようにする */ 
}


/* プラットフォームのカードデザイン */
.container {
    text-align: center;
    background: rgb(224, 102, 118);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

header h1 {
    font-size: 3.0rem;
    color: #ffffff;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 24px;
    line-height: 1.5;
}

/* 3Dモデル表示エリアのサイズ調整 */
model-viewer {
    display: block;
    margin: 0 auto;/* 中央に配置 */
    width: 80%;
    height: 60vh;
    background-color: #f7b6bb;
    border-radius: 12px;
    position: relative; /* ボタンの絶対配置の基準にするため */
}

/* ARボタンのデザイン */
#ar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
     padding: 0;
}

#ar-button img {
    width: 100%;
    height: auto;
    display: block;
     padding: 0;
}

#ar-button:active {
    opacity: 0.6;
}